/* Badges Container */
.primary_badges-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Primary Badges */
  .primary_badges {
    max-width: 150px;
    height: auto;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: white;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
  }
  
  .primary_badges img {
    max-width: 100%;
    height: auto;
  }
  
  .primary_badges:hover {
    transform: scale(1.1);
  }
  
  .primary_badges-container::after {
    content: "";
    display: table;
    clear: both;
  }